# Assignment 3: Hypothesis Testing
## Question 2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   <br/>Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 
    (Use Minitab File: LabTAT.mtw)

## Step 1:
### Formulating the hypothesis.
H<sub>0</sub>: There is NO difference in average TAT among the labs ie, μ<sub>1</sub> = μ<sub>2</sub> = μ<sub>3</sub> =  μ<sub>4</sub>
<br/>H<sub>a</sub>: There does EXIST a difference in at least one average TAT from the four labs. ie, At leat one mean is different.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [2]:
df=pd.read_csv('LabTAT.csv')
df.rename(columns = {'Laboratory 1' : 'Lab_1', 'Laboratory 2' : 'Lab_2', 'Laboratory 3' : 'Lab_3', 'Laboratory 4' : 'Lab_4'}, inplace = True)
df

      Lab_1   Lab_2   Lab_3   Lab_4
0    185.35  165.53  176.70  166.13
1    170.49  185.91  198.45  160.79
2    192.77  194.92  201.23  185.18
3    177.33  183.00  199.61  176.42
4    193.41  169.57  204.63  152.60
..      ...     ...     ...     ...
115  178.49  170.66  193.80  172.68
116  176.08  183.98  215.25  177.64
117  202.48  174.54  203.99  170.27
118  182.40  197.18  194.52  150.87
119  182.09  215.17  221.49  162.21

[120 rows x 4 columns]

## Step 2:
### Finding the right test.
The case requires the analysis of the difference between the means of more than two groups.
<br/> So, let's use the <b>one-way ANOVA test<b/>

## Step 3:
### Executing the test.
one-way ANOVA test can be executed using the stats package from scipy.

In [3]:
ss.f_oneway(df.Lab_1,df.Lab_2,df.Lab_3,df.Lab_4)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

The one-way ANOVA test output provides an estimate of how much variation in variance of the variables and the p-value of the F-statistic.
The p-value is all we need for our purposes. Which is pvalue=2.1156708949992414e<sup>-57</sup> (< α = 0.05)

## Step 4:
### Making a decision
Since p-value = 2.1156708949992414e<sup>-57</sup> which is much lesser than α = 0.05 we can reject the null hypothesis.<br/>
ie, There IS difference in at leat one mean TAT from the laboratories.