# Assignment 1
## Basic Statistics Level - 1
### Question Number 20

20) Calculate probability from the given dataset for the below cases
    (Data _set: Cars.csv)
Calculate the probability of MPG  of Cars for the below cases.
       MPG <- Cars$MPG
    a. P(MPG>38)
    b. P(MPG<40)
    c. P(20<MPG<50)

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [2]:
Qn20 =  pd.read_csv('Cars.csv')
Qn20

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [3]:
Qn20.mean()

HP     117.469136
MPG     34.422076
VOL     98.765432
SP     121.540272
WT      32.412577
dtype: float64

In [4]:
Qn20.std()

HP     57.113502
MPG     9.131445
VOL    22.301497
SP     14.181432
WT      7.492813
dtype: float64

In [5]:
round(1 - ss.norm.cdf(38, 34.422076,9.131445), 4)

0.3476

In [6]:
round(ss.norm.cdf(40, 34.422076,9.131445), 4)

0.7293

In [7]:
round(ss.norm.cdf(50, 34.422076,9.131445) - (1 - ss.norm.cdf(20, 34.422076,9.131445)), 4)

0.0131